* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

body {
    color: white;
}

.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

.header {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.header__text {
    max-width: 380px;
    margin: 16px 0 24px;
}


.header_planet {
    width: 1000px;
    position: absolute;
    bottom: -90px;
    right: -110px;
    z-index: 1;
    /*animation: planet 6s infinite;*/
    /* ease-in-out;*/
}

.header_cursor {
    width: 200px;
    position: absolute;
    bottom: 210px;
    right: 340px;

    /*animation:cursor 3s infinite ;*/
}

@keyframes planet {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(23px, -30px);
    }

    50% {
        transform: translate(-93px, 90px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes cursor {
    0%{
        width: 150px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 150px;
    }
}

.header_doodle1{
    position: absolute;
    top:175px;
    left: 524px;
    width: 224px;
}

.header_doodle2{
    position: absolute;
    top:394px;
    left: 573px;
    width: 224px;
    /*z-index: -1;*/
    animation: doodle2 3s infinite;
}

@keyframes doodle2 {
    0%{
        top:350px;
        left: 773px;
    }

    50%{
        top:600px;
        left: 973px;
    }

    100%{
        top:350px;
        left: 773px;
    }
}

.header_doodle3{
    position: absolute;
    top:650px;
    left: 460px;
    width: 224px;
}


.header__button{
    width: 200px;
    height: 100px;
}

.header__button:hover{

    background-color: blue;
    animation: police 1s infinite;
}

@keyframes police {
    0%{
        background-color: blue;
    }
    50%{
        color: yellow;
        background-color: red;
    }
    100%{
        background-color: blue;
    }
}