body {
    font-family: $sub-fonts;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    //padding: 0 16px;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    max-width: 134px;
    height: 11px;
}

.hover--link--animation {
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
        color: $color-orange;

        @media (max-width:$tablet) {
            transform: none;
        }
    }
}

.button--arrow {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 22px 8px 34px;
    width: 160px;
    height: 45px;
    /* Grey 700 */
    background: $color-button;

    &::after {
        content: "→";
    }
}