body {
    font-family: $sub-fonts;
    font-weight: 400;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    //padding: 0 16px;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    max-width: 134px;
    height: 11px;
}

.hover--link--animation {
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
        color: $color-orange;

        @media (max-width:$tablet) {
            transform: none;
        }
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 22px 8px 22px;
    width: 160px;
    height: 45px;
    /* Grey 700 */
    background: $color-button;
    transition: background-color 0.4s;

    &:hover{
        background-color: $color-gray500;
    }

    &--arrow::after {
        content: "→";
    }    
}

.icon{
    display: block;
    width:19px;
    height:16px;
    padding: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    &:hover{
        transform: scale(1.4);
        transition: 0.3s;
    }
    &-facebook{
        background-image: url('./img/contact/facebook.svg'); 
    }
    &-twitter{
        background-image: url('./img/contact/twitter.svg'); 
    }
    &-linkedin{
        background-image: url('./img/contact/linkeid.svg'); 
    }
    &-dribble{
        background-image: url('./img/contact/dribble.svg'); 
    }
    &-telephone{
        background-image: url('./img/contact/Tel.svg'); 
    }
    &-email{
        background-image: url('./img/contact/Email.svg'); 
    }
    /*&::before{
        content: '-------';
        color:transparent;
        background-image: url('./img/contact/facebook.svg');   
    }*/
}