/*Global styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*call to all img on page*/
img {
    width: 100%;
}

.portfolio {
    background: #F6F6F6;
    padding-top: 112px;
    padding-bottom: 96px;
    /*padding: 112px 96px;*/
}

.page-text{
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #070707; 
    margin-bottom: 99px;
    text-decoration-line: underline; 
    /*margin:auto;*/
}
/*Global styles end*/

.page-text-nonudnrline {
    text-decoration-line: none;
}
.portfolio__container {
    /*background: #9c95df;*/
    max-width: 936px;
    margin: 0 auto;
    padding: 1px 16px;
    /*padding-top: 112px;
    padding-bottom: 96px;*/
}
.portfolio-item{
    background: #c0df95;
    max-width: 936px;
    margin: 0 auto;
    padding: 0px 16px;  
    /*сильно стриба поддінг при зміні на 1. По ідеї має збільшуватись на +1 піксель 
    відступ від тексту, а збільшується згачно більше*/
}

.portfolio__title {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    color: #070707;
    margin-bottom: 47px;
}

.portfolio__img {
    min-width: 500px;
    margin-bottom: 44px;
}


