/*body {
    font-family: $sub-fonts;
    font-weight: 400;
}

.logo {
    max-width: 134px;
    height: 11px;
}
} */

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #E5E5E5;
    min-width: 389px;
}

.container {
    max-width: 1512px;
    min-width: 389px;
    margin: 0 auto;
    padding: 0px 24px;
    position: relative;
}

.link {
    display: block;
    transition: 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        color: orange;
        transform: scale(1.2);
    }

    &--icon {
        &:hover {
            cursor: pointer;
            color: orange;
        }
    }
}
.button-hover {
    transition: 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        color: blue;
        background-color: orange;
        transform: scale(1.05);
    }
}