/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset end*/




/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Quicksand:wght@500&family=Roboto:wght@400;500&display=swap');

.font-Quicksand-500 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 35px;
    /* identical to box height, or 100% */
    /* 6 */
    color: #16133D;
}

.font-Roboto-400 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* or 131% */
    /* 7 */
    color: #7690A8;
}

.font-Nunito-Sans-600 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    /* or 130% */
    letter-spacing: 0.2px;
    /* 6 */
    color: #16133D;
}

.font-Roboto-400-24 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 21px;
    /* or 89% */
    letter-spacing: 0.2px;
    /* 6 */
    color: #16133D;
}

.font-Roboto-400-16 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    /* text */
    color: #16133D;
}

.font-Roboto-600-16 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3DB370;
}

/* fonts end */





/* global */
.container {
    padding-left: 135px;
    padding-right: 135px;
}

.link {
    text-decoration: none;
    cursor: pointer;
}

.logo {
    width: 30px;
    height: 30px;
}

.logo path {
    fill: none;
    stroke: #3DB370
}

/* global end*/





/* header */
.header {
    border: 1px solid #EFEEF3;
}

.heder__container {
    display: flex;
    gap: 12px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header__title {}

/* header end*/




/* main */
.main__container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.main__text {
    text-transform: uppercase;
    margin-bottom: 15px;
}

.main__title {
    margin-bottom: 40px;
}

.main__content-row {
    display: flex;
    gap: 30px;
}

.main__content-item {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

    padding: 40px;
    border: 1px solid #E5EAF4;
    border-radius: 8px;
}

.main__content-item:hover {
    background: #FFFFFF;
    border: 1px solid #3DB370;
    border-radius: 8px;
}

.main__content-svg-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(21, 101, 216, 0.1);
    border-radius: 16px;
    margin-bottom: 30px;
    width: 64px;
    height: 64px;
}

.main__content-svg-frame:hover {
    background-color: rgba(204, 199, 199, 0.5);
    border: #007FFC 2px solid;
    transition: 0.5s;
}

.main__content-svg {
    width: 38px;
    height: 36px
}

.main__content-svg path {
    fill: #007FFC;
}

.main__content-item:hover .main__content-svg path {
    fill: #52C29D;
}



.main__content-title {
    margin-bottom: 15px;
}

.main__content-text {
    margin-bottom: 30px;
}

.main__content-more:hover {
    padding:5px;
    margin-left: -5px;
    border-radius: 10px;
    background-color: rgba(255, 166, 0, 0.355);
    transition: 0.5s;
}

/* main end*/





/* footer */
.footer {
    background: #16133D;
    border-radius: 0px;
}

.footer__container {
    padding-top: 39px;
    padding-bottom: 50px;
}

.foter__logo-row {
    display: flex;
    gap: 12px;
    margin-bottom: 50px;
}

.footer__title {
    color: #FFFFFF;
}

.footer__contact-row {
    display: flex;
    gap: 10px;
}

.footer__contact path{
    fill:#0D0D0D;
}

.footer__contact:hover path{
    fill:#3DB370;
}

/* footer end */