/*-----Global-----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s;
}
/*-----Global End-----*/




section {
    padding: 120px 135px 0;
}

h2 {
    text-align: center;
    margin-bottom: 80px;
    font-family: 'Delius Unicase', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.images_board {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3fr);
    grid-gap: 30px;
}

.image_item {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    height: 370px;
    width: 370px;
}

.image_item:hover{
    box-shadow: 4px 4px blueviolet;
}

.image_item--blur{
    height: 100%;
    width: 100%;
    background-image: url('../img/blur.png');
    background-position:center;
    background-size: cover;
    border-radius: 20px;
    /*z-index: +1;*/
}

.image_item:hover .image_item--blur{
    opacity: 0;
}

.image_item:hover .image_item--author{
    color: black;
    background-color: rgba(255, 255, 255, 0.721);
}

.image_item:hover .image_item--date{
    color: black;
    background-color:rgba(255, 255, 255, 0.721);
}

.image_item--like {
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0;
    cursor:pointer;
    border-radius: 10px;
}

.image_item--like:hover{
    box-shadow: 2px 2px blueviolet;
}

.image_item:hover .image_item--like {
    opacity: 1;
}

.image_item--download {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0;
    cursor:pointer;
}

.image_item:hover .image_item--download {
    opacity: 1;
}

.image_item--author {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    padding:3px;
    border-radius: 10px;
}

.image_item--date {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #E0E0E0;
    padding:3px;
    border-radius: 10px;
}


/*-----Images for Architectural Photography-----*/
.architectural_photography .image_item:nth-child(1) {
    background-image: url('../img/architectural_photography_1.jpg');
}

.architectural_photography .image_item:nth-child(2) {
    background-image: url('../img/architectural_photography_2.jpg');
    grid-column-start: 2;
    grid-column-end: 4;
    width: 770px;
    height: 370px;
}

.architectural_photography .image_item:nth-child(3) {
    background-image: url('../img/architectural_photography_3.jpg');
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
}

.architectural_photography .image_item:nth-child(4) {
    background-image: url('../img/architectural_photography_4.jpg');
}

.architectural_photography .image_item:nth-child(5) {
    background-image: url('../img/architectural_photography_5.jpg');
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
}

.architectural_photography .image_item:nth-child(6) {
    background-image: url('../img/architectural_photography_6.jpg');
}
/*-----Images for Architectural Photography End-----*/

/*-----Images for Still Life Photography-----*/
.still_life_photography .image_item:nth-child(1) {
    background-image: url('../img/still_life_photography_1.jpg');
}

.still_life_photography .image_item:nth-child(2) {
    background-image: url('../img/still_life_photography_2.jpg');
    grid-column-start: 2;
    grid-column-end: 4;
    width: 100%;
}

.still_life_photography .image_item:nth-child(3) {
    background-image: url('../img/still_life_photography_3.jpg');
    grid-column-start: 1;
    grid-column-end: 3;
    width: 770px;
    height: 770px;
}

.still_life_photography .image_item:nth-child(4) {
    background-image: url('../img/still_life_photography_4.jpg');
    height: 100%;
}

.still_life_photography .image_item:nth-child(5) {
    background-image: url('../img/still_life_photography_5.jpg');
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
}

.still_life_photography .image_item:nth-child(6) {
    background-image: url('../img/still_life_photography_6.jpg');
}
/*-----Images for Still Life Photography End-----*/



/*-----Images for Architectural Photography-----*/
.architectural_photography .image_item:nth-child(1) {
    background-image: url('../img/architectural_photography_1.jpg');
}

.architectural_photography .image_item:nth-child(2) {
    background-image: url('../img/architectural_photography_2.jpg');
    grid-column-start: 2;
    grid-column-end: 4;
    width: 770px;
    height: 370px;
}

.architectural_photography .image_item:nth-child(3) {
    background-image: url('../img/architectural_photography_3.jpg');
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
}

.architectural_photography .image_item:nth-child(4) {
    background-image: url('../img/architectural_photography_4.jpg');
}

.architectural_photography .image_item:nth-child(5) {
    background-image: url('../img/architectural_photography_5.jpg');
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
}

.architectural_photography .image_item:nth-child(6) {
    background-image: url('../img/architectural_photography_6.jpg');
}
/*-----Images for Architectural Photography End-----*/




/*-----Images for Portrait and Fashion Photography-----*/
.portrait_and_fashion_photography .image_item:nth-child(1) {
    background-image: url('../img/portrait_and_fashion_photography_1.jpg');
}

.portrait_and_fashion_photography .image_item:nth-child(2) {
    background-image: url('../img/portrait_and_fashion_photography_2.jpg');
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 770px;
}

.portrait_and_fashion_photography .image_item:nth-child(3) {
    background-image: url('../img/portrait_and_fashion_photography_3.jpg');
}

.portrait_and_fashion_photography .image_item:nth-child(4) {
    background-image: url('../img/portrait_and_fashion_photography_4.jpg');
}

.portrait_and_fashion_photography .image_item:nth-child(5) {
    background-image: url('../img/portrait_and_fashion_photography_5.jpg');
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    height: 770px;
}

.portrait_and_fashion_photography .image_item:nth-child(6) {
    background-image: url('../img/portrait_and_fashion_photography_6.jpg');
    grid-row-start: 3;
    grid-row-end: 5;
    height: 770px;
}

.portrait_and_fashion_photography .image_item:nth-child(7) {
    background-image: url('../img/portrait_and_fashion_photography_7.jpg');
}

.portrait_and_fashion_photography .image_item:nth-child(8) {
    background-image: url('../img/portrait_and_fashion_photography_8.jpg');
    grid-column-start: 2;
    grid-column-end: 4;
    width: 770px;
}

.portrait_and_fashion_photography .image_item:nth-child(9) {
    background-image: url('../img/portrait_and_fashion_photography_9.jpg');
    grid-column-start: 1;
    grid-column-end: 3;
    width: 770px;
}

.portrait_and_fashion_photography .image_item:nth-child(10) {
    background-image: url('../img/portrait_and_fashion_photography_10.jpg');
}
/*-----Images for Portrait and Fashion Photography End-----*/