/*Global styles*/
* {
    margin: 0;
    padding: 0;
    transition: all .1s ease-in;
}

body{
    background-color: rgb(255, 255, 0.5);
    /*
    Чому контент не розтягується на всю сторінку
    Коли дивишся на великому моніторі присутня область де закінчується контент підсвітив жовтим
    */
    border: white;
    border-style: solid;
    border-width: 10px;
}
.wrapper{
    /*margin: 0 auto;*/
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #FF8984;
}
.tabItem{
    margin: 0 auto;
    max-width: 70%;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
/*Global styles END*/

/*Header*/
.headerBox {
    padding-top: 19px;
    padding-bottom: 9px;
    background: #4A4F56;
    text-align: center;
}
.headerBox__head {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.headerBox__paragraf {
    margin-top: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
/*Header END*/

/*Main*/
.mainBox {
    padding-top: 20px;
    padding-bottom: 45px;
    background: #3B3F45;
}

.mainBox__tabCheckbox {
/**/
}
.mainBox__tabCheckbox--item {
    display: flex;
    background: #88839E;
    color: #FFFFFF;
}
.mainBox__tabCheckbox--item:nth-child(2n+2){
    background: rgb(119, 115, 137);
}
.mainBox__tabCheckbox--item:nth-child(2) {
    margin-bottom: 2px;
    box-shadow: 2px 3px rgba(243, 219, 4, 0.371);
}
.mainBox__tabCheckbox--item:hover{
    border-width: 3px 0px; 
    border-style: solid;
    border-color: #FFFFFF;
    background: #625E77;
}
.mainBox__tabCheckbox--item:active {
    background-color: rgb(223, 102, 102);
}
.mainBox__tabCheckbox--item--checkbox{
    margin-left:10px;
}
.mainBox__tabCheckbox--item--checkbox:checked + .mainBox__tabCheckbox--item--checkbox--label{
    text-decoration:line-through;
}
.mainBox__tabCheckbox--item--checkbox--label{
    display: block;
    padding: 11px 0px 13px 0px;
    width: 100%;
}
.mainBox__tabCheckbox--item--checkbox#id2 + :after{
    content:" (for more CSS manipulations)";
    vertical-align: super; font-size: smaller;
    /*font-size: 50%; /* Размер шрифта */
}
.mainBox__tabCheckbox--item--checkbox--textAbove {
/**/
}

.mainBox__tabSubmit{
    align-items: center;
    margin-top:45px;
}
.mainBox__tabSubmit--item{
    /*
    В середині знаходяться баттони. 
    Чому стилі задані на рівні main класу tabItem  та на рівні класу mainBox__tabSubmit--item до них не застосовуються?
    */
}

.mainBox__tabSubmit--item--submit {
    width: 100%;
    padding: 12px 0px;
    background: #4A4F56;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FF8984;
}
.mainBox__tabSubmit--item--submit:hover{
    background-color: rgba(0, 128, 0, 0.096);    
}

/*Main END*/