.contact-page {
    padding-top: 130px;

    &__container {
        display: flex;
    }

    &__contact-page__container {}

    &__subcontainer-left {
        width: 50%;
        padding-bottom: 120px;
    }

    &__subcontainer-right {
        width: 50%;
    }
}


//***************