* {
    margin: 0;
    padding: 0;
}
body{
    padding:16px 20px 11px 13px;
}
.nav {
    margin-top:17px;
    padding-left: 15px;
    min-width: 245px;
    min-height: 105px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #000000;
}

.ullist{
    margin-left:16px;
}

.content {
    min-width: 269px;
    min-height: 128px;

    font-family: 'Inter', sans-serif;;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin-top:17px;
}

.img{
    width:148px;
    height: 148px;
    background: url("../img/funart-pro-p-kotik.png") ;
}