*{
    margin: 0;
    padding: 0;
}

.box{
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box__box{
    background: blue;
    width: 200px;
    height: 200px;
}