/*-----Global-----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    /*position: static;*/
    padding: 150px 120px 90px 120px;
    background: #F4F4F4;
}

body {
    background: #F4F4F4;
}

nav {
    list-style: none;
}

.menu__item--link {
    text-decoration: none;
    color: black;
    /*white-space: nowrap;*/
}

.menu__item--link:hover {
    text-shadow: 1px 1px black;
}

.addText_underline {
    content: '';
    white-space: nowrap;
    text-decoration: underline;
}

.addText_hightlight {
    content: '';
    white-space: nowrap;
    background-color: rgb(182, 180, 180);
}
/*-----Global End-----*/


/*-----Header-----*/
header {
    padding: 10px 120px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: +1;
    background: #F4F4F4;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.headerLeftArea {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.headerLeftArea_lang {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Tourney', cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    /* or 82% */
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
}

.headerLeftArea_menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    font-family: 'Staatliches', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
}

.headerRightArea {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:50px;    
}

.header__logo {
    padding: 16px 0;
    color: #1A1A1A;

    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: transparent;

    /*position:absolute;
    top:0;
    right:0;
    transform: translate(-120px, 0%);*/
}

.header__logo:hover {
    border-color: blueviolet;
    background-color: yellow;
    color: red;
    transition: 0.2s;
}

.header__logo:active {
    box-shadow: 1px 1px darkblue;
}
/*-----Header End-----*/



/*-----Main-----*/
.main--wrapper {
    display: flex;
    position: static;
}

.menu {
    position: sticky;
    top: 100px;
    padding-left: 10px;
    padding-right: 8px;
    margin-right: 25px;
}

.menu> a {
    display: block;
    font-family: 'Francois One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height, or 133% */
    letter-spacing: 0.04em;
    text-transform: uppercase;

    margin-bottom: 80px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: gray;
    white-space: nowrap;
}

.menu> a:last-child {
    margin-bottom: 0;
}


.main {
    position: relative;
}

.backgroundLogo {
    position: fixed;
    left: 56%;
    top: 16%;
}

.main__chapter {
    margin-bottom: 70px;
}

.main__chapter:last-child {
    margin-bottom: 0;
}

.main__chapter--divider {
    margin-bottom: 20px;
    width: 100px;
    height: 8px;
    background: #000000;
}

.main__chapter--headingBox {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 40px;
}

.main__chapter--headingBox--title1 {
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height, or 133% */
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.main__chapter--headingBox--title2 {
    font-family: 'Farro', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #000000;
}

.main__chapter--text {
    margin-bottom: 40px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    /* or 171% */
    color: #000000;
}

.main__chapter--text:last-child {
    margin-bottom: 0;
}

/*
!!! Чому nth-child(3)?
*/
.main__chapter--text:nth-child(3)>.addText_underline::after {
    content: 'their own section';
}

.main__chapter--text:nth-child(6)>.addText_hightlight::after {
    content: '<Text>Hello, I am your cat!</Text>';
}

.main__chapter--text:nth-child(7)>.addText_hightlight::after {
    content: 'name';
}
/*-----Main End-----*/

/*-----Footer-----*/
.footet__title {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom:40px
}

.footet__title--devider {
    width: 100px;
    height: 8px;
    background: #000000;
}

.footet__title--name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height, or 133% */
    letter-spacing: 0.04em;
}

.footet__logosArea {
    border-width: 1px 0px;
    border-style: solid;
    border-color: #BFBFBF;

    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px 15px;
}

.footet__logosArea--item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 270px;
    min-height: 180px;
    /* logo's-gray-bg */
    background: #E6E6E6;
    border-radius: 8px;
}

.footet__logosArea--item:hover{
    background: #1A1A1A;
    transition: 0.3s;
    
    
    transform: rotateX(360deg);
    /*transform: scaleY(-1);*/
    transition: transform 1.5s, background-color 0.3s;
}

.logosGroup__logo:nth-child(1n+4)+ .logosGroup__logo:hover {
    background: orange;
}

#facebook{
    color:blue;
}

#instagram{
    color:orange;
}

#shopify{
    color:green;
}

#skype{
    color:rgb(23, 91, 236);
}
/*-----Footer End-----*/