/*Global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    position: static;
    padding: 0 120px 90px 120px;
    background: #F4F4F4;
}

body{
    background: #F4F4F4;
}

.menu__listItem {
    list-style: none;
}

.menu__item--link {
    text-decoration: none;
    color: black;
    /*white-space: nowrap;*/
}

.menu__item--link:hover {
    text-shadow: 1px 1px black;
}

.addText_underline {
    content: '';
    white-space: nowrap;
    text-decoration: underline;
}

.addText_hightlight {
    content: '';
    white-space: nowrap;
    background-color: rgb(182, 180, 180);
}
/*Global End*/





/*Header*/
/*!!!
0 Не врапиться ліва і права сторони хедеру (при зменшенні лого не переноситься в рядок)?
1 Як правильно зафіксити хедер і зберегти відступ з наступним блоком (паддінг і марджин хедеру пропадає)?
2 Чому додатково необхідно задавати падінг правий для хедеру, якщо він вже встановлений на рівні головної 
огортки враперу. Без нього лого не вирівнюється по правому краю?
3 Чому додатково необхідно задавати фон, якщо він вже встановлений на рівні головної 
огортки враперу. Без нього блок контенту залазить і перекриває хедер зверху?
*/

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
    padding: 10px 0;

    /*position: fixed;
    min-width: 100%;
    background: #F4F4F4;
    padding-right: 120px;*/
}

.header__left {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 50%;
}

.header__lang {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Tourney', cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    /* or 82% */
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
}

.header__menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    font-family: 'Staatliches', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
}

.hendler__right {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    color: #1A1A1A;

    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: transparent;

    /*transform: translate(200%, 0%);  */
    /*position:absolute;
    top:0%;
    left: 100%;
    transform: translate(-200%, 0%);*/
}

.header__logo:hover {
    border-color: blueviolet;
    background-color: yellow;
    color: red;
    transition: 0.2s;
}

.header__logo:active {
    box-shadow: 1px 1px darkblue;
}

/*Header End*/






.main--wrapper {
    display: flex;
    background-color: transparent;
}

.menu {
    position: sticky;
    top: 30px;

    padding-left: 10px;
    padding-right: 8px;
    margin-right: 25px;
}

.menu__item {
    font-family: 'Francois One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height, or 133% */
    letter-spacing: 0.04em;
    text-transform: uppercase;

    margin-bottom: 80px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: gray;
    white-space: nowrap;
}

.menu__item:last-child {
    margin-bottom: 0;
}

/*
!!!Main зробив релятів; в мейні лого  з фіксед; але лого не пориціонується відностно мейн?
*/
.main{
    position:relative;
}
.backgroundLogo {
    position: fixed;
    left: 56%;
    /*transform: translate(20%,0); */
    /*z-index: -1;*/
}

.main__chapter {
    margin-bottom: 70px;
}

.main__chapter:last-child {
    margin-bottom: 0;
}

.main__chapter--divider {
    margin-bottom: 20px;
    width: 100px;
    height: 8px;
    background: #000000;

    /*!!!Що це?*/
    /* Inside auto layout */
    /* flex: none;
    order: 0;
    flex-grow: 0;*/
}

.main__chapter--headingBox {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 40px;
}

.main__chapter--headingBox--title1 {
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height, or 133% */
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.main__chapter--headingBox--title2 {
    font-family: 'Farro', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #000000;
    /* Inside auto layout */
    /*flex: none;
    order: 1;
    flex-grow: 0;*/
}

.main__chapter--text {
    margin-bottom: 40px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    /* or 171% */
    color: #000000;
    /* Inside auto layout */
    /*flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;*/
}

.main__chapter--text:last-child {
    margin-bottom: 0;
}

/*.main__chapter--text::after{
    content: '++++++++++++++++++';
}*/

/*
!!! Чому нтх чайлд 3?
*/
.main__chapter--text:nth-child(3)>.addText_underline::after {
    content: 'their own section';
}

.main__chapter--text:nth-child(6)>.addText_hightlight::after {
    content: '<Text>Hello, I am your cat!</Text>';
}

.main__chapter--text:nth-child(7)>.addText_hightlight::after {
    content: 'name';
}